
#content-top
	#content-top-inner
		.container
			.row
				.span12
					%h1 About
					%ul.breadcrumb
						%li
							= link_to "Home",root_path
							%span.divider /
						%li.active About
/
	content-top ends
	\==================================================
/
	content starts
	\==================================================
%section#content
	.container
		/ row (first) starts
		.row
			/ first column starts
			.span6
				%p.text-big
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt laoreet dolore magna aliquam
					erat volutpat. Minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis aliquip ex ea commodo consequat.
				%blockquote
					%p Facilisis at vero eros et accumsan et iusto odio dignissim blandit praesent luptatum dolor sit maet ipsum lorem delenit. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
				.divider-dashed
				%h6
					We have earned the award for
					%span.color "Best practices in 2013"
					%br/
					at the World-Tech Expo in Chicago.
				%p Facilisis at vero eros et accumsan et iusto odio dignissim blandit praesent luptatum dolor sit maet ipsum lorem delenit. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
			/ first column ends
			/ second column starts
			.span6
				%ul.combo
					%li
						.pd-right
							%h2.heading-styled
								2010
								%span estd.
							%p Company was launched in the summer of 2010 by business ventures.
					%li
						.flexslider.image-slider-slide
							%ul.slides
								%li
									= image_tag("preview/thumb-3.jpg")
								%li
									= image_tag("preview/thumb-5.jpg")
								%li
									= image_tag("preview/thumb-6.jpg")
					%li
						= image_tag("preview/thumb-4.jpg")
					%li
						.pd-left
							%h2.heading-styled
								13
								%span k
							%p More than 13k campaigns are created an managed successfully by us.
		/ second column ends
		/ row (first) ends
		/ spacer here
		.spacer-40px
		/ row (second) starts
		.row
			/ first column starts
			.span4
				.heading-border.clearfix
					%h3.headtext
						Our
						%span.color Approach
				%p Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi anteposuerit litterarum nobis videntur parum clari, fiant sollemnes in futurum.
			/ first column ends
			/ second column starts
			.span4
				.heading-border.clearfix
					%h3.headtext
						We are
						%span.color Leaders
				%p Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.
			/ second column ends
			/ third column starts
			.span4
				.heading-border.clearfix
					%h3.headtext
						Our
						%span.color Success Edge
				%p Nam liber tempor cum soluta nobis eleifend option congue nihil  sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, formas quarta decima et quinta decima. Eodem modo typi nobis videntur parum clari, fiant sollemnes in futurum humanitatis per seacula.
		/ third column ends
		/ row (second) ends
		/ spacer here
		.spacer-40px
		/ row (third) starts
		.row
			/ first column starts
			.span6
				.heading-border.clearfix
					%h3.headtext
						The
						%span.color Process
				= image_tag("preview/process.png")
			/ first column ends
			/ second column starts
			.span6
				.heading-border.clearfix
					%h3.headtext
						Our
						%span.color Skills
				%ul.list-skills
					%li
						Consulting
						%span 90%
						.custom-pro
							.bar{:style => "width: 90%;"}
					%li
						System Design
						%span 80%
						.custom-pro
							.bar{:style => "width: 80%;"}
					%li
						Analysis
						%span 85%
						.custom-pro
							.bar{:style => "width: 85%;"}
					%li
						Research
						%span 70%
						.custom-pro
							.bar{:style => "width: 70%;"}
					%li
						Implementation
						%span 95%
						.custom-pro
							.bar{:style => "width: 95%;"}
/ second column ends
/ row (third) ends
/
	content ends
	\==================================================
/
	row-color starts
	\==================================================
.row-color
	.container
		.row
			/ first column starts
			.span3
				.bubble
					%h2{:style => "margin-top: 50px;"}
						Like to
						%br/
						Join us?
			/ first column ends
			/ second column starts
			.span9
				%h5 Employment Charter
				/ nested columns starts
				.row
					.span5
						%p
							Please send a cover letter along with ccumsan et iusto odio dignissim blandit praesent
							luptatum your Resume  to
							= link_to "careers@megabiz.co.in",root_path
						%p We will respond you within a week if you are selected for further interview.
						=link_to "Learn More",root_path,class:"mybtn"
					.span2
						%ul.myunstyled-bold
							%li
								= link_to "Technical Operations »",root_path
							%li
								= link_to "HR Manager »",root_path
							%li
								= link_to "Brand Assistant »",root_path
					.span2
						%ul.myunstyled-bold
							%li
								= link_to "Business Associate »",root_path
							%li
								= link_to "Back End Development »",root_path
							%li
								= link_to "Account Manager »",root_path