
#content-top
	#content-top-inner
		.container
			.row
				.span12
					%h1 Контакты
					%ul.breadcrumb
						%li
							= link_to root_path, class: (request.path == root_path ? "selected" : " ") do
								%i.fa.fa-home
							%span.divider /
						%li.active Контакты
%section#content
	.container
		/ row (first) starts
		.row
			/ first column starts
			.span6
				%h3 Drop us a mail
				%p Facilisis at vero eros et accumsan et iusto odio dignissim blandit praesent luptatum dolor sit maet ipsum lorem delenit. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
				%form#contactform{:action => "submit-form.php", :method => "post"}
					%fieldset
						%p
							%input{:name => "name", :placeholder => "Your Name", :type => "text"}
							%p
								%input.required.email{:name => "email", :placeholder => "Email Address", :type => "text"}
								%p
									%select{:name => "subject"}
										%option{:value => "General support"} General support
										%option{:value => "Project Discussion"} Project Discussion
										%option{:value => "Other"} Other
								%p.antispam
									Leave this empty:
									%br/
									%input{:name => "url"}/
								%p
									%textarea#message.required{:name => "message", :placeholder => "Write Message Here", :rows => "7"}
								%p
									%input.submit{:type => "submit", :value => "Submit"}/
								#result
					/ first column ends
					/ second column starts
					.span6
						.heading-border.clearfix
							%h3.headtext
								Get in
								%span.color Touch
						/ address starts (nested columns)
						.row
							.span3
								%h6 Chicago Office
								Megabizz Inc.
								%br/
								3245 East Creek Blvd, Suite 590
								%br/
								Bos Boomer, IN 20076
							.span3
								%h6 Melbourne Office
								Megabizz Inc.
								%br/
								3245 East Creek Blvd, Suite 590
								%br/
								Bos Boomer, IN 20076
						/ spacer here
						.spacer-40px
						.heading-border.clearfix
							%h3.headtext
								Service
								%span.color Support
						%p
							%a{:href => "#"} support@megabiz.com
							%br/
							%a{:href => "#"} enquiry@megabiz.com
						/ spacer here
						.spacer-40px
						.heading-border.clearfix
							%h3.headtext
								Working
								%span.color Hours
						%p
							%strong Weekdays :
							10am to 6pm
							%br/
							%strong Saturday :
							10am to 2pm
							%br/
							%strong Sunday :
							Closed
								/ second column ends
								/ row (first) ends