#content-top
	#content-top-inner
		.container
			.row
				.span12
					%h2 Карта Калужской области
.span9
	%center
		.row
			%center
				%ul.nav.nav-pills
					%li{:role => "presentation", class: (params[:type].present? ? " " : "active")}
						= link_to "Первичная запись на прием", root_path
					%li{:role => "presentation", class: (params[:type]== '2' ? "active": " ")}
						= link_to( "Повторная запись на прием", root_path(type: 2), method: :post)
					%li{:role => "presentation", class: "disabled"}
						= link_to "Запись через инфомат", root_path
					%li{:role => "presentation", class: "disabled"}
						= link_to "Запись через портал регистратура.рф", root_path
.span12
	.row
		.col-lg-12{style: "margin-top: 3%;"}
			.col-lg-8
				- @json.each do |d|
					= d.lsd_ids
				%div#quantileLegend{class:"legend"}
				#svgfile				
			.col-lg-4
				%table.table
					%tbody
						%tr
							%th Район
							%th Первичная запись
						-@mapdata.each do |mapdata|
							%tr
								%td= mapdata.name
								%td= mapdata.lsd_ids
	.row
		.col-lg-12
			%center
				%h2
					%i
						Новости
	.row
		.col-lg-12
			-if @articles.blank?
				%h3
					%center
						= I18n.t :oops_no_data_or_db_connection
			- else
				- if params[:show].present?
					= render 'articles/info_single'
				- else
					= render 'articles/info'

