.container
	.row
		.span12
			%ul.blocked-links.filter_nav.clearfix
				%li
					= link_to "Всё", "#", class: "active","data-filter" => "*"
				%li
					= link_to "Инструкции", "#", class: "active","data-filter" => ".cat1"
				%li
					= link_to "Документы", "#", class: "active","data-filter" => ".cat2"
				%li
					= link_to "ДЛО", "#", class: "active","data-filter" => ".cat3"
				%li
					= link_to "Transportation", "#", class: "active","data-filter" => ".cat4"
			.row
				#items.filter-content
					- @articles.each do |article|
						.span3.item.cat1
							.folio-thumb
								= link_to "Подробнее...",articles_path(id: article.id)
				-#					= image_tag("preview/thumb-1.jpg")
				-#					%span.img-overlay
				-#					%span.zoom
				-#			.titlebox
				-#				%span.titleicon
				-#					= link_to "Подробнее...",articles_path(id: article.id),data:{toggle: "tooltip"}
				-#						-#= image_tag("icons/icon-link.png")
