%table.table
	- @articles.each do |a|
		%tr
			%td.no-border
				.panel.panel-default#news_panel
					.panel-heading.clearfix
						%h4.panel-title.pull-left
							= link_to :back, class: "btn btn-warning btn-xs" do
								= I18n.t :btn_back
							=link_to a.title.html_safe, articles_path(id: a.id,show:"yes")
						#news-data.pull-right
							%i.fa-fw.fa.fa-calendar
							= I18n.l a.published_at, format: :long
					.panel-body
						.article
							.article_preview
								%span
									= a.preview.html_safe
							#full_article{:style => "margin-top:10px;"}
								%span= a.body.html_safe
								%br/