%ul.nav.nav-pills
	%li{class: (request.path == instruction_articles_path ? "active" : " ")}
		= link_to instruction_articles_path do
			= I18n.t :nav_instr
	%li{class: (request.path == documents_articles_path ? "active" : " ")}
		= link_to documents_articles_path do
			= I18n.t :nav_docs
	%li{class: (request.path == archive_articles_path ? "active" : " ")}
		= link_to archive_articles_path do
			= I18n.t :nav_archive
	%li{class: (request.path == videos_path ? "active" : " ")}
		= link_to videos_path do
			= I18n.t :nav_videos
%br