- @news.each do |a|
	%tr
		%td
			= a.id
		%td
			=link_to a.title.html_safe, articles_path(id: a.id,show:"yes")
		%td
			= article_name_id(a.types)
		%td
			= (a.preview.nil? ? "Нет данных" : a.preview.html_safe)
		%td
			= (a.body.nil? ? "Нет данных" : a.body.html_safe)
		%td
			= I18n.l a.published_at, format: :long
		%td{style:"text-align: right;"}
			%div{class: "btn-group",role:"group"}
				= link_to "Изменить", manage_articles_path(act:"edit",id:a.id), class: "btn btn-primary"
				= link_to "Удалить", manage_articles_path(act:"remove",id:a.id), class: "btn btn-danger",:data => { :confirm => 'Вы уверены, что хотите удалить запись?' }
