#searchbox
	= form_tag(request.path,method: "post") do
		.input-group.input-group-sm
			.input-group-addon
				Поиск
			= text_field_tag :search,"",class:"form-control"
			%span.input-group-btn
				= button_tag(type: 'submit',class: "btn btn-primary",title:"Отфильтровать",style:"margin-right:5px") do
					%i.fa.fa-search
%br
%table.table.table-striped
	%thead
		%tr
			%th{style:"width:2%"}
				:escaped
					#
			%th{style:"width:10%"}
				Заголовок
			%th{style:"width:15%"}
				= form_tag(request.path,method: "post") do
					.input-group.input-group-sm
						= select_tag :types, options_for_select((Article::TYPES.map{ |h| [h[1][:name], h[0]]}), params[:types]),class:"form-control"
						%span.input-group-btn
							= button_tag(type: 'submit',class: "btn btn-danger",title:"Отфильтровать") do
								%i.fa.fa-filter
			%th{style:"width:auto"}
				Короткий текст
			%th{style:"width:auto"}
				Текст
			%th{style:"width:10%"}
				Опубликовано
			%th{style:"width:12%;text-align:right;"}
				Действия
	%tbody
		= render 'listarticles'