%table.table
	- @articles.each do |a|
		%tr
			%td.no-border
				.panel.panel-default#news_panel
					.panel-heading.clearfix
						%h4.panel-title.pull-left

							- if a.types != 2 && a.types != 4
								= link_to "#", onclick: "diplay_hide('#block_id#{a.id}');return false;", class: "btn btn-primary btn-xs" do
									= I18n.t :btn_showhide
							= a.title.html_safe
						#news-data.pull-right
							%i.fa-fw.fa.fa-calendar
							= I18n.l a.published_at, format: :long
							\

					.panel-body
						.article{id:"article_id#{a.id}"}
							.article_preview
								%span
									= a.preview.html_safe
							.block_id{id:"block_id#{a.id}", style:"display: none;"}
								#cut
									#cutline
								#full_article{:style => "margin-top:10px;"}
									%span= a.body.html_safe
									%br/

					.panel-footer
						.btn-group
							= link_to "#", class: "btn btn-default btn-sm btn-success dropdown-toggle", 'data-toggle' => "dropdown" do
								= I18n.t :btn_share
								%span.caret

							%ul.dropdown-menu{:role => "menu"}
								%li
									= link_to "#print", onclick: "print_this('#article_id#{a.id}');return false;" do
										= I18n.t :menu_print
								%li
									= link_to root_path do
										= I18n.t :menu_save
										%b
											"#{a.title}.pdf"
						- if request.path == instruction_articles_path
							= link_to instruction_articles_path(id: a.id, show: "yes"), class:"btn btn-default btn-sm" do
								= I18n.t :btn_show
						- if request.path == archive_articles_path
							= link_to archive_articles_path(id: a.id, show: "yes"), class:"btn btn-default btn-sm" do
								= I18n.t :btn_show

#pagination
	= will_paginate @articles