-#= form_tag(request.path, method: 'get', class: "well form-inline" ) do
-#  %table.table.table-bordered
-#    %tr
-#      %td= label_tag :title, 'Заголовок'
-#      %td= text_field_tag :title, params[:title], {placeholder: "КПД и ВВП улучшено на 100500%",class: "span6"}
-#    %tr
-#      %td= label_tag :preview, 'Превью:'
-#      %td= text_area_tag :preview, params[:preview], {placeholder: "Это небывалый успех компании",class: "span6", rows: 4}
-#    %tr
-#      %td= label_tag :preview, 'Статья:'
-#      %td= text_area_tag :preview, params[:preview], {placeholder: "Это небывалый успех компании",class: "span6", rows: 8}
-#    %tr
-#      %td= label_tag :preview, 'Статья:'
-#      %td
-#        = text_field_tag :published_at, params[:published_at], {class: "span2"}
-#        = text_field_tag :published_to, params[:published_to], {class: "span2"}
.panel.panel-default
	.panel-heading
		%b
			Добавление новости
	.panel-body
		= form_tag(request.path,method: "get", class: "form-horizontal",role:"form") do
			.form-group
				%label.col-sm-1.control-label{for: "Heading"} заголовок
				.col-sm-11
					= text_field_tag :title, "", id:"Heading", class: "form-control", placeholder:"Заголовок"
			.form-group
				%label.col-sm-1.control-label{for: "Type"} Тип
				.col-sm-11
					= select_tag :types, options_for_select((Article::TYPES.select {|k,v| k != 5}.map{ |h| [h[1][:name], h[0]]}), params[:types]),class:"form-control", id:"Type"
			.form-group
				%label.col-sm-1.control-label{for: "TextPreview"} аннотация
				.col-sm-11
					= text_area_tag :preview, "", id:"TextPreview", class: "tinymce form-control"
					= tinymce
			.form-group
				%label.col-sm-1.control-label{for: "Text"} текст
				.col-sm-11
					= text_area_tag :body, "", id:"Text", class: "tinymce form-control"
					= tinymce
			.form-group
				.col-sm-offset-1.col-sm-11
					%p
						= submit_tag "Создать", :class => "btn btn-primary", :disable_with => "Ждите"
		:javascript
			$(form).bootstrapValidator({
					fields: {
							'user[username]': {
									validatorName: validatorOptions
							}
					}
			});