.panel.panel-default
	.panel-heading
		%b
			Добавление видео
	.panel-body
		= form_tag(request.path,method: "get", class: "form-horizontal",role:"form") do
			.form-group
				%label.col-sm-1.control-label{for: "VidEmbed"} Видео
				.col-sm-3
					.input-group
						.input-group-addon.danger
							Youtube ID
						= text_field_tag :vid_url, "", id:"VidUrl", name:"vid_url", class: "form-control", placeholder:"Например: 8ZcmTl_1ER8"
			.form-group
				%label.col-sm-1.control-label{for: "VidName"} Название
				.col-sm-11
					= text_field_tag :title, "", id:"VidName", name:"vid_name", class: "form-control", placeholder:"Название видео"
			.form-group
				%label.col-sm-1.control-label{for: "VidDesc"} Описание*
				.col-sm-11
					= text_area_tag :body, "", id:"VidDesc", name:"vid_desc", class: "tinymce form-control "
					= tinymce
			.form-group
				.col-sm-11.col-md-offset-1
					* Действует ограничение на количество вводимых символов.
			.form-group
				.col-sm-offset-1.col-sm-11
					%p

						= hidden_field_tag :types, 5
						= submit_tag "Создать", :class => "btn btn-primary", :disable_with => "Ждите"
					:javascript
						$(document).ready(function() {
								$('form').bootstrapValidator({
										feedbackIcons: {
											valid: 'glyphicon glyphicon-ok',
											invalid: 'glyphicon glyphicon-remove',
											validating: 'glyphicon glyphicon-refresh'
										},
										live: 'enabled',
										fields: {
											'vid_url': {
												message: 'Неправильный Youtube ID',
												validators: {
														notEmpty: {
																message: 'Youtube ID не может быть пустым.'
														},
														stringLength: {
																min: 12,
																max: 12,
																message: 'Youtube ID должен быть строго 12 символов.'
														},
														regexp: {
																regexp: /^[a-zA-Z0-9]+$/,
																message: 'Youtube ID может состоять только из латинских букв и цифр.'
														}
												}
											},
											'vid_name': {
												message: 'Неправильное название видео',
												validators: {
														notEmpty: {
																message: 'Название не может быть пустым.'
														},
														stringLength: {
																min: 5,
																message: 'Название должно быть хотя бы длиной в 5 символов.'
														}
												}
											},
											'vid_desc': {
												message: 'Неправильное описание видео',
												validators: {
														notEmpty: {
																message: 'Описание не может быть пустым.'
														},
														stringLength: {
																min: 5,
																message: 'Описание должно быть хотя бы длиной в 5 символов.'
														},
														// Проблема с CKEditor
														//callback: function(value, validator, $field) {
														//		// Get the plain text without HTML
														//		var div  = $('<div/>').html(value).get(0),
														//				text = div.textContent || div.innerText;
														//
														//		return text.length <= 255;
														//}
												}
											}
										}
								});
								// Проблема с CKEditor
								//.find('[name="vid_desc"]')
								//	.ckeditor()
								//	.editor
								//			// To use the 'change' event, use CKEditor 4.2 or later
								//			.on('change', function() {
								//					// Revalidate the bio field
								//					$('form').bootstrapValidator('revalidateField', 'vid_desc');
								//});
						});