#content-top
	#content-top-inner
		.container
			.row
				.span12
					%h1 Официальные документы
					%ul.breadcrumb
						%li
							= link_to articles_path, class: (request.path == root_path ? "selected" : " ") do
								Статьи
							%span.divider /
						%li.active Официальные документы
%section#content
	.container
		.row
			.span12
				= render 'info_nav'
				-if @articles.blank?
					%h3
						= I18n.t :oops_no_data_or_db_connection
				- else
					- if params[:show].present?
						= render 'info_single'
					- else
						= render 'info'