-#- @articles.each do |a|
-#	.panel.panel-default
-#		.panel-heading
-#			%b
-#				Редактирование новости
-#			" #{a.title} "
-#		.panel-body
-#			Тут будет CKEditor или что-либо подобное


.panel.panel-default
	.panel-heading
		%b
			Редактирование новости
		" #{@article.title} "
	.panel-body
		= form_tag(request.path,method: "get", class: "form-horizontal",role:"form") do
			.form-group
				%label.col-sm-1.control-label{for: "Heading"} заголовок
				.col-sm-11
					= text_field_tag :title, @article.title, id:"Heading", class: "form-control"
			.form-group
				%label.col-sm-1.control-label{for: "TextPreview"} аннотация
				.col-sm-11
					= text_area_tag :preview, @article.preview.html_safe, id:"TextPreview", class: "tinymce form-control"
					= tinymce
			.form-group
				%label.col-sm-1.control-label{for: "Text"} текст
				.col-sm-11
					= text_area_tag :body, @article.body.html_safe, id:"Text", class: "tinymce form-control"
					= tinymce
			.form-group
				.col-sm-offset-1.col-sm-11
					= submit_tag "Отправить", class:"btn btn-default",:data => { :confirm => 'Вы всё проверили?' }
