%script{:src => "http://tanshcreative.com/megabiz-st-demo/js/jquery.isotope.min.js"}
:javascript
	$(window).load(function () {
			var $container = $('#items');
			$container.imagesLoaded(function () {
					$container.isotope({
						 itemSelector: '.item'
					});
			});
			$('.filter_nav li a').click(function () {
					$('.filter_nav li a').removeClass('active');
					$(this).addClass('active');
					var selector = $(this).attr('data-filter');
					$container.isotope({
							filter: selector
					});
					return false;
			});
	});
#content-top
	#content-top-inner
		.container
			.row
				.span12
					%h1 Статьи
					%ul.breadcrumb
						%li
							= link_to "Home",root_path
							%span.divider /
						%li
							= link_to "Статьи",root_path
							%span.divider /
						%li.active Статьи

%section#content
	.container
		/ row (first) starts
		.row
			.span12
				%ul.blocked-links.filter_nav.clearfix
					%li.active
						-#%a.active{"data-filter" => "*", :href => "#"} All
						= link_to "Все", "#","data-filter" => "*", style: "color:white;"
					%li
						= link_to "Новости", "#", class: " " ,"data-filter" => ".cat0", style: "color:white;"
					%li
						= link_to "Полезная информация", "#", class: " ","data-filter" => ".cat1", style: "color:white;"
					%li
						= link_to "Инструкции", "#", class: " ","data-filter" => ".cat2", style: "color:white;"
					%li
						= link_to "Документы", "#", class: " ","data-filter" => ".cat3", style: "color:white;"
					%li
						= link_to "Видеокурсы", "#", class: " ","data-filter" => ".cat5", style: "color:white;"
					%li
						= link_to "ДЛО", "#", class: " ","data-filter" => ".cat6", style: "color:white;"
				#row
					#items.filter-content
						- @articles.each do |article|
							.span3.item{class: "cat#{article.types}"}
								/ = article.types
								.folio-thumb
									%a{"data-rel" => "prettyPhoto[gallery1]", :href => "logo.png", :title => "This is title of image"}
										= image_tag("preview/thumb-1.jpg")
										%span.img-overlay
										%span.zoom
								.titlebox
									%span.titleicon
										%a{"data-toggle" => "tooltip", :href => "portfolio-detail.html", :title => "More info"}
											= image_tag("icons/icon-link.png")
									%p 360 Heath Care
								%p Facilisis at vero eros et accumsan et iusto odio dignissim blandit praesent luptatum dolor sit maet delenit.
			#pagination
				= will_paginate @articles