- @users.each do |u|
	%tr{class: u.blocks == true ? "danger": " "}
		%td
			= u.id
		%td
			= u.username
		%td
			= u.fio
		%td
			= link_to "Забанить", manage_users_path(id:u.id,blocks:false), class: "btn btn-primary" if u.blocks == false
			= link_to "Разбанить", manage_users_path(id:u.id,blocks:true), class: "btn btn-primary" if u.blocks == true

