-#Шапка
-#=render "shared/page-header"
#content-top
	#content-top-inner
		.container
			.row
				.span12
					%h1 Добавить пользователя
					%ul.breadcrumb
						%li
							= link_to manage_users_path do
								Управление пользователями
							%span.divider /
						%li.active Добавить
-#Контент
%section#content
	.container
		.row
			/ content starts
			.span8
				/ post starts
				.blogpost.clearfix
					%b
						Добавление пользователя
					.form-horizontal
						= form_tag(request.path,method: "get", class: "form-horizontal",role:"form",id:"adduserform") do
							.control-group
								%label.control-label{for: "Username"} Логин
								.controls
									= text_field_tag :username, params[:username], class: "form-control"
							.control-group
								%label.control-label{for: "fio"} ФИО
								.controls
									= text_field_tag :fio, params[:fio], class: "form-control"
							.control-group
								%label.control-label{for: "email"} E-mail
								.controls
									= text_field_tag :email, params[:email], class: "form-control", type: "email"
							.control-group
								%label.control-label{for: "role"} Группа
								.controls
									-#= collection_select(:User,:role_id,@roles,:id,:RoleOutput,prompt:"Выберите группу")

									= select_tag :role_id, options_from_collection_for_select(Role.all, "id", "name"), prompt: "Выберите группу"
							.control-group
								.controls
									%p
										= submit_tag "Создать", :class => "btn btn-primary", :disable_with => "Ждите"
										:javascript
											$(document).ready(function(){
												$.validator.addMethod(
													'regexp',
													function(value, element, regexp) {
														var re = new RegExp(regexp);
														return this.optional(element) || re.test(value);
													},
													"Please check your input."
												);
											});
											$(document).ready(function(){
												$("#adduserform").validate({
													lang: 'ru',
													rules: {
														username: {
															minlength: 5,
															required: true,
															regexp: '^[a-zA-Z0-9]+$'
														},
														fio: {
															required: true,
															regexp: '^[a-zA-Zа-яА-ЯёЁ ]+$'
														},
														email: {
															required: true,
															email: true
														},
														role_id: {
															required: true
														}
													},
													messages: {
														username:{
															regexp: 'Логин может состоять только из латинских букв и цифр.'
														},
														fio:{
															regexp: 'ФИО может состоять только из русских или латинских букв.'
														},
														role_id: {
															required: "Выберите группу пользователя."
														}
													},
													highlight: function(element) {
														$(element).closest('.control-group').removeClass('success').addClass('error');
													},
													success: function(element) {
														element
														.text('OK!').addClass('valid')
														.closest('.control-group').removeClass('error').addClass('success');
													}
												});
											}); // end document.ready