-#Шапка
-#=render "shared/page-header"
#content-top
	#content-top-inner
		.container
			.row
				.span12
					%h1 Управление пользователями
					%ul.breadcrumb
						%li
							= link_to root_path, class: (request.path == root_path ? "selected" : " ") do
								%i.fa.fa-home
							%span.divider /
						%li.active Управление пользователями
-#Контент
%section#content
	.container
		.row
			/ content starts
			%table.table
				%thead
					%tr
						%th
							:escaped
								#
						%th
							Имя пользователя
						%th
							ФИО
						%th
							Действия
				%tbody
					= render 'listblocks'