-#Шапка
-#=render "shared/page-header"
#content-top
	#content-top-inner
		.container
			.row
				.span12
					%h1 Профиль
					%ul.breadcrumb
						%li
							= link_to root_path, class: (request.path == root_path ? "selected" : " ") do
								%i.fa.fa-home
							%span.divider /
						%li.active Профиль
-#Контент
%section#content
	.container
		.row
			/ content starts
			.span8
				/ post starts
				.blogpost.clearfix
					%h1
						Я -
						= @user.username
						:escaped
							.
					%h2
						Меня зовут -
						= @user.fio
						:escaped
							.
					%span

					- if @user.sign_in_count == 1
						= render "changepassword"
						%br

					- if @user.fio.blank?
						= render "changefio"
					- elsif params[:change] == "fio"
						= render "changefio"
					- else
						= link_to "Редактировать ФИО", profile_user_path(@user.id,change: "fio"), class: "btn btn-primary"
						= link_to "Редактировать pass", profile_user_path(@user.id,change: "pass"), class: "btn btn-primary"
