%center
	%div.col-lg-12
		%div#info
			%h1 #{@cast.title.html_safe}
			%p #{@cast.body.html_safe}
		%div#video
			%iframe{:allowfullscreen => "", :frameborder => "0", :height => "480", :src => "http://www.youtube.com/embed/#{@cast.vid_url}", :width => "853"}