#content-top
	#content-top-inner
		.container
			.row
				.span12
					%h1 Видеокурсы
					%ul.breadcrumb
						%li
							= link_to articles_path, class: (request.path == root_path ? "selected" : " ") do
								Статьи
							%span.divider /
						%li.active Видеокурсы
%section#content
	.container
		.row
			.span12
				= render 'articles/info_nav'
				-if @videos.blank?
					%h3
						= I18n.t :oops_no_data_or_db_connection
				- else
					%div.col-lg-12
						%ul.list-unstyled.video-list-thumbs.row
							- @videos.each do |video|
								%li.col-lg-3.col-sm-4.col-xs-6
									= link_to cast_video_path(id: video.id) do
										.img-responsive
											= image_tag("video_thumb_default.png", style: "width:100%", alt: "Обложка видео")
										%h2
											=video.title
										%span.glyphicon.glyphicon-play-circle


				#pagination
					= will_paginate @videos