%footer#footer
	.container
		.row
			/ first column starts
			.span9
				/ row for nested columns starts
				.row
					/ first nested column starts
					.span3
						%h5 About Megabiz
						%p Megabiz at vero eros et accumsan odio dignissim blandit praesent luptatum dolor sit maet ipsum lorem delenit. Nam liber tempor cum soluta legentis nobis.
					/ second nested column starts
					.span3
						%h5 Latest Tweets
						#twitter
						%a.tweet-birdy{:href => "#"} Follow us
					/ third nested column starts
					.span3
						%h5 Some Links
						%ul.list-arrow
							%li
								%a{:href => "#"} Careers
							%li
								%a{:href => "#"} Press Release
							%li
								%a{:href => "#"} Forum
							%li
								%a{:href => "#"} Annual Report
				/ row for nested columns ends
				/ divider here
				.divider-dark
				%p.pull-left
					= image_tag("footer-logo.png", :style => "margin-right: 10px;", :alt => "footer-logo", )
					© Copyright 2013 by Tansh. All Rights Reserved.
				%ul.copyright.inline-right
					%li
						%a{:href => "#"} Support
					%li
						%a{:href => "#"} Privacy Policy
					%li
						%a{:href => "#"} Impressum
			/ first column ends
			/ second column starts
			.span3.pos-rel
				/ box-dark starts
				.box-dark
					= image_tag("preview/footer-map.png")
					.spacer-20px
					%address
						Megabizz Inc.
						%br/
						32 East Creek Blvd, Lorem County
						%br/
						Suite 590, Bos Boomer,
						%br/
						IN 20076
					%a.mybtn{:href => "#"} Contact us