#sidebar.navbar-default.sidebar{:role => "navigation"}
	.sidebar-nav.navbar-collapse
		%ul#side-menu.nav
			%li
				%a.active{:href => "index.html"}
					%i.fa.fa-dashboard.fa-fw
					Панель
			%li
				%a{:href => "#"}
					%i.fa.fa-bar-chart-o.fa-fw
					Графики
					%span.fa.arrow
				%ul.nav.nav-second-level
					%li
						%a{:href => "#"} Графики
				/ /.nav-second-level
			%li
				%a{:href => "#"}
					%i.fa.fa-table.fa-fw
					Таблицы
			%li
				%a{:href => "#"}
					%i.fa.fa-edit.fa-fw
					Формы
			%li
				%a{:href => "#"}
					%i.fa.fa-wrench.fa-fw
					Настройки
					%span.fa.arrow
				%ul.nav.nav-second-level
					%li
						%a{:href => "#"} Оповещения
					%li
						%a{:href => "#"} Сообщения
					%li
						%a{:href => "#"} Пользователи
					%li
						%a{:href => "#"} Группы
					%li
						%a{:href => "#"}
							Глобальные
							%span#ttip-config-changed.badge.alert-warning !
				/ /.nav-second-level
			%li
				%a{:href => "#"}
					%i.fa.fa-sitemap.fa-fw
					Просто меню
					%span.fa.arrow
				%ul.nav.nav-second-level
					%li
						%a{:href => "#"} пуф
					%li
						%a{:href => "#"} тык
					%li
						%a{:href => "#"}
							подменю
							%span.fa.arrow
						%ul.nav.nav-third-level
							%li
								%a{:href => "#"} бдыщ
						/ /.nav-third-level
				/ /.nav-second-level
			%li
				%a{:href => "#"}
					%i.fa.fa-external-link.fa-fw
					Ссылки
					%span.fa.arrow
					%span#ttip-external-links.badge.alert-success
						%i.fa.fa-info
				%ul.nav.nav-second-level
					%li
						%a{:href => "#"} Яндекс
					%li
						%a{:href => "#"} Гугл