%nav.navbar.navbar-blue.navbar-static-top{:role => "navigation", :style => "margin-bottom: 0"}
	.navbar-header
		%ul#afterHeader.nav.navbar-top-links.navbar-right
			%li
		%button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
			%span.sr-only Навигация
			%span.icon-bar
			%span.icon-bar
			%span.icon-bar
		%span.navbar-brand	
			= link_to image_tag('mednet.png', style: 'width:50%; margin-top: -15px;'), root_path
		

	%ul.nav.navbar-nav.navbar-right
		%li
			= link_to " ", "#", style: "color:white; font-size: 40px;"
		%li
			= link_to root_path do
				%i.fa.fa-home
				Главная
		%li
			= link_to articles_path do
				%i.fa.fa-newspaper-o
				Новости
		%li
			= link_to root_path do
				%i.fa.fa-phone
				Телефонный справочник
		%li.dropdown
			= link_to "#",class:"dropdown-toggle","data-toggle" => "dropdown", :href => "#" do
				%i.fa.fa-file-text-o
				Полезные материалы
				%i.fa.fa-caret-down
			%ul.dropdown-menu.dropdown-user.dropdown-menu-right
				%li
					= link_to helpful_articles_path do
						Полезные материалы
				%li.divider
				%li.dropdown-header
					Разделы
				%li
					= link_to instruction_articles_path do
						Инструкции
				%li
					= link_to documents_articles_path do
						Оф. Документы
				%li
					= link_to archive_articles_path do
						Файловый архив
				%li
					= link_to videotuts_articles_path do
						Видеокурсы

			:javascript
				window.onload = function(){
						(function(){
								var date = new Date();
								var time = date.getHours()+':'+(date.getMinutes()<10?'0':'') + date.getMinutes();
								
								document.getElementsByTagName('a')[1].innerHTML = time;
								window.setTimeout(arguments.callee, 1000);
						})();
				};
				
		- if user_signed_in?
			%li.dropdown
				= link_to "#",class:"dropdown-toggle","data-toggle" => "dropdown", :href => "#" do
					%i.fa.fa-user.fa-fw
					%i.fa.fa-caret-down
				%ul.dropdown-menu.dropdown-user.dropdown-menu-right
					%li
						= link_to profile_user_path(current_user.id) do
							%i.fa.fa-user.fa-fw
							Мой профиль
					%li
						%a{:href => "#"}
							%i.fa.fa-gear.fa-fw
							Настройки
					%li.divider
					- if current_user.admin == true
						%li.dropdown-header
							Административные разделы
						%li
							%a{:href => manage_articles_path}
								%i.fa.fa-gear.fa-fw
								Управление статьями
						%li.divider
					%li
						= link_to destroy_user_session_path, :method => :delete, :data => { :confirm => 'Вы уверены, что хотите выйти из системы?' } do
							%i.fa.fa-sign-out.fa-fw
							Выйти
		- else
			%li.dropdown{:style => "cursor: pointer"}
				= link_to "Вход", :class => "dropdown-toggle", "data-toggle" => "dropdown" do
					%i.fa.fa-user.fa-fw
					%b.caret
				.dropdown-menu{style: "width:260px;"}
					%center
						%h4
							Авторизация
						= form_tag new_user_session_path, :class => "minilogin", :style => "width: 65%;" do
							%br
							= text_field_tag 'user[username]', nil,{:class => "input-medium", placeholder: "логин", :autofocus => true}
							= password_field_tag 'user[password]', nil,{:class => "input-medium", placeholder: "Пароль"}
							%label.checkbox
								= check_box_tag 'user[remember_me]'
								Запомнить меня
							= submit_tag "Войти", class: 'btn btn-mini btn-success', style: "margin-top: -2px;"
			
		%li
			= link_to "#", type: "submit" do
				%i.fa.fa-search
