

%section#header

	.container.clearfix
		.row
			.span4.pos-rel
				= link_to image_tag("mednet.png",style:"width: 210px;", alt: "logo"), root_path
				.logo-info
			.span8
				%ul.social
					%li.pos-rel
						.search-header
							%form.searchform{:action => ".", :method => "get"}
								%input{:name => "s", :placeholder => "", :type => "text"}
				.clearfix
			.span12
				.menu-wrapper
					#smoothmenu.ddsmoothmenu
						%ul
							%li
								-#%a.{:href => "index.html"} Home
								= link_to root_path, class: (request.path == root_path ? "selected" : " ") do
									%i.fa.fa-home
							%li
								= link_to articles_path do
									%i.fa.fa-newspaper-o
									Новости
							%li
								= link_to phonebook_index_path do
									%i.fa.fa-phone
									Cправочник
							%li
								= link_to helpful_articles_path do
									%i.fa.fa-file-text-o
									Полезные материалы
								%ul
									%li
										= link_to instruction_articles_path do
											Инструкции
									%li
										= link_to documents_articles_path do
											Оф. Документы
									%li
										= link_to archive_articles_path do
											Файловый архив
									%li
										= link_to videos_path do
											Видеокурсы
							%li
								= link_to contacts_path do
									%i.fa.fa-envelope
									Контакты
						%ul.inline-right
							%li#topdown
								= image_tag("icons/icon-phone.png")
								(+91) 123 456-7892
							%li
								%a
									%i.fa.fa-user
								- if user_signed_in?
									%ul
										%li
											= link_to profile_user_path(current_user.id) do
												%i.fa.fa-user.fa-fw
												Мой профиль
										%li
											= link_to manage_articles_path do
												%i.fa.fa-file-text-o.fa-fw
												Управление статьями
										%li
											= link_to manage_users_path do
												%i.fa.fa-users.fa-fw
												Управление пользователями
										%li
											= link_to destroy_user_session_path, :method => :delete, :data => { :confirm => 'Вы уверены, что хотите выйти из системы?' } do
												%i.fa.fa-sign-out.fa-fw
												Выйти
								- else
									%ul.dropdown-menu
										%center
											%h4
												Авторизация
											= form_tag new_user_session_path, id:"minilogin", :class => "minilogin", :style => "width: 65%;" do
												%br
												= text_field_tag 'user[username]', nil,{:class => "input-medium", placeholder: "логин", :autofocus => true}
												= password_field_tag 'user[password]', nil,{:class => "input-medium", placeholder: "Пароль"}
												%label.checkbox
													= check_box_tag 'user[remember_me]'
													Запомнить меня
												= submit_tag "Войти", class: 'btn btn-mini btn-success', style: "margin-top: -2px;"

					.clearfix
						-#:javascript
						-#	$(document).ready(function(){
						-#		$.validator.addMethod(
						-#			'regexp',
						-#			function(value, element, regexp) {
						-#				var re = new RegExp(regexp);
						-#				return this.optional(element) || re.test(value);
						-#			},
						-#			"Please check your input."
						-#		);
						-#	});
						-#	$(document).ready(function(){
						-#		$("#minilogin").validate({
						-#			lang: 'ru',
						-#			rules: {
						-#				'user[username]': {
						-#					minlength: 5,
						-#					required: true,
						-#				},
						-#				'user[password]': {
						-#					required: true
						-#				}
						-#			},
						-#			messages: {
						-#				'user[username]':{
						-#					regexp: 'Логин может состоять только из латинских букв и цифр.'
						-#				},
						-#				'user[password]': {
						-#					required: "Введите пароль."
						-#				}
						-#			},
						-#			highlight: function(element) {
						-#				$(element).closest('.control-group').removeClass('success').addClass('error');
						-#			},
						-#			success: function(element) {
						-#				element
						-#				.text('OK!').addClass('valid')
						-#				.closest('.control-group').removeClass('error').addClass('success');
						-#			}
						-#		});
						//	}); // end document.ready
