%section#content
	/ clouds starts
	#clouds
		.container
			.row
				/ first column starts
				.span6
					%h1
						20 years of business: 10,450
						%span.color projects
						implemented
					%p.text-big
						%strong Facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue.
					%a.mybtn{:href => "#"} About Us
				/ first column ends
				/ second column starts
				.span6
					%ul.myunstyled.features-style1
						%li
							= image_tag("icons/icon-clock.png",alt: "icon", class: "icon-bg")
							%h2.heading-styled
								500
								%span hrs
							%p Legimus civibus postulant ut has, illud rationibus quo et usu justo legimus has minim euismod vero eros et zzril accumsan et iusto olor sit maet.
						%li
							= image_tag("icons/icon-clock.png",alt: "icon", class: "icon-bg")
							%h2.heading-styled
								80
								%span %
							%p Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est duis dolore te feugait quam littera gothica.
						%li
							= image_tag("icons/icon-badge.png",alt: "icon", class: "icon-bg")
							%h2.heading-styled
								15
								%span k
							%p Vulputate velit esse molestie consequat, vel illum  eu feugiat nulla facilisis at vero eros et accumsan iusto odio dignissim qui blandit luptatum delenit.
				/ second column ends
				/ spacer here
				.spacer-10px
				/ boxed features starts
				.span4
					.box-color.clearfix
						%h4 Megabizz Success Story
						= image_tag("preview/img80x80-1.jpg", alt: "image", class: "img-left")
						%p John Doe reveals the secret of success behind Megabizz.
						= link_to "CCB News »", root_path
				.span4
					.box-color.clearfix
						%h4 Investor Relations
						= image_tag("preview/img80x80-2.jpg", alt: "image", class: "img-left")
						%p Facilisis at vero eros et accumsansto odio dignissim qui blandit.
						= link_to "Annual Report 2013-14 »", root_path
				.span4
					.box-color.clearfix
						%h4 In The News
						= image_tag("preview/img80x80-3.jpg", alt: "image", class: "img-left")
						%p Typi non habent eros et accumsansto dignissim qui blandit praesent.
						= link_to "Launch on June 2014  »", root_path
	/ boxed features ends
	/ clouds ends
	.container
		/ row (first) starts
		.row
			/ first column starts
			.span8
				/ heading starts
				.heading-border.clearfix
					%h3.headtext
						From The
						%span.color Journal
					%a.linktext{:href => "#"} View blog
				/ heading ends
				/ bloglist starts (nested columns)
				.row.bloglist
					.span4
						%h6
							= link_to "Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming.", root_path
						%ul.breadcrumb.clearfix
							%li
								Posted : Sep 29, 2012
								%span.divider /
							%li
								By :
								= link_to "admin", root_path
						%p Facilisis at vero eros et accumsan iusto odio blandit praesent luptatum dolor sit maet ipsum lorem delenit. Nam liber tempor cum soluta nobis eleifend mazim.
					.span4
						%h6
							= link_to "Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.", root_path
						%ul.breadcrumb.clearfix
							%li
								Posted : Sep 29, 2012
								%span.divider /
							%li
								By :
								= link_to "admin", root_path
						%p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
			/ bloglist ends
			/ first column ends
			/ second column starts
			.span4
				/ heading starts
				.heading-border.clearfix
					%h3.headtext
						Client's
						%span.color Love
						Us
				/ heading ends
				/ review slider starts
				.flexslider.review-slider
					%ul.slides
						%li
							%p "Facilisis at vero eros et accumsan et iusto odio dignissim blandit praesent luptatum dolor sit maet ipsum lorem delenitim assum..."
							= image_tag("preview/img-user-quote1.jpg")
							%h4
								Jonale Claude Dorowet
								%span MD / Visual Labs
						%li
							%p "Duis autem vel eum iriure dolor in hendrerit vulputate consequat,eu feugiat nulla accumsan et iusto odio dignissim blandit praesent..."
							= image_tag("preview/img-user-quote2.jpg")
							%h4
								Sabastian Kibbey
								%span External Consultant
						%li
							%p " Eodem modo typi, option congue nihil iqui nunc nobis vel illum dolore videntur parum clari, qui fiant sollemnes in futurum..."
							= image_tag("preview/img-user-quote3.jpg")
							%h4
								Jarod Brotherton
								%span Advertising