#content-top
	#content-top-inner
		.container
			.row
				.span12
					%h1 Контакты
					%ul.breadcrumb
						%li
							= link_to root_path, class: (request.path == root_path ? "selected" : " ") do
								%i.fa.fa-home
							%span.divider /
						%li.active Контакты
%section#content
	.container
		.row
			.span6
				%h3 Напишите нам письмо
				%p Facilisis at vero eros et accumsan et iusto odio dignissim blandit praesent luptatum dolor sit maet ipsum lorem delenit. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
				= form_tag(action: 'contact_form',method: "get", class: "form-horizontal",role:"form") do
					%fieldset
						%p
							= text_field_tag :name, placeholder: 'Как вас зовут?', type: 'text'
							-#%input{:name => "name", :placeholder => "Как вас зовут?", :type => "text"}
							%p
								= text_field_tag :email,class:'required email', placeholder: 'Адрес вашей почты', type: 'text'
								-#%input.required.email{:name => "email", :placeholder => "Адрес вашей почты", :type => "text"}
								%p
									= select_tag :subject, options_for_select([ "Поддержка", "Обсуждение проекта", "Прочее" ], 'Поддержка')
									-#%select{:name => "subject"}
									-#	%option{:value => "General support"} General support
									-#	%option{:value => "Project Discussion"} Project Discussion
									-#	%option{:value => "Other"} Other
								%p.antispam
									Оставьте это пустым:
									%br/
									= text_field_tag :url
									-#%input{:name => "url"}/
								%p
									= text_area_tag :message, class: 'message required',placeholder: 'Ваше сообщение', rows: '7'
									-#%textarea#message.required{:name => "message", :placeholder => "Ваше сообщение", :rows => "7"}
								%p
									= submit_tag type:'submit', value:'Отправить'
									-#%input.submit{:type => "submit", :value => "Отправить"}/
								#result
			.span6
				.heading-border.clearfix
					%h3.headtext
						Свяжитесь
						%span.color с нами
				.row
					.span3
						%h6 ГБУЗ КО "МИАЦ Калужской области"
						Калужская область, г. Калуга
						%br/
						ул. Вишневского д.1
				/ spacer here
				.spacer-40px
				.heading-border.clearfix
					%h3.headtext
						%span.color Техподдержка
				%p
					%a{:href => "#"} support@megabiz.com
					%br/
					%a{:href => "#"} enquiry@megabiz.com
				/ spacer here
				.spacer-40px
				.heading-border.clearfix
					%h3.headtext
						%span.color Телефоны
				%p
					%strong Директор
					(8-4842) 79-67-10 добавочный 11
					%br/
					%strong Административный отдел
					(8-4842) 72-58-09 добавочный 21
					%br/
					%strong Отдел эксплуатации
					(8-4842) 72-58-09 добавочный 22
					%br/
					%strong Отдел сбора и обработки медико-статической информации
					%br/
					(8-4842) 72-57-15 добавочный 31
					%br/
					%strong Отдел программирования
					(8-4842) 72-57-15 добавочный 32
					%br/
					%strong Статистический отдел
					(8-4842) 72-58-75 добавочный 41
					%br/
					%strong Аналитический отдел
					(8-4842) 72-58-75 добавочный 42
					%br/
					%strong Отдел взаимодействия с региональными мед. сетями
					%br/
					(8-4842) 72-58-06 добавочный 46
					%br/
					%strong Отдел ДЛО
					(8-4842) 72-58-06 добавочный 45
					%br/
					%strong Технический отдел
					(8-4842) 79-67-11 добавочный 47