-#Шапка
-#=render "shared/page-header"
#content-top
	#content-top-inner
		.container
			.row
				.span12
					%h1 Телефонный справочник
					%ul.breadcrumb
						%li
							= link_to root_path, class: (request.path == root_path ? "selected" : " ") do
								%i.fa.fa-home
							%span.divider /
						%li.active Телефонный справочник
-#Контент
%section#content
	.container
		.row
			/ content starts
			.span8
				/ post starts
				.blogpost.clearfix
					%h3 Привет, возьми трубку
