%center
	%p
		%p
			= link_to image_tag('logo.png', style: "width: 15%;"),root_path

		%br
		= form_tag new_user_session_path,:html => {:id=>"login_form",:class => "navbar-form"} do
			%table
				%tr
					%td{colspan: 2}
						%center
							= label_tag :login, "Логин"
				%tr
					%td{colspan: 2}
						%center
							/ = email_field_tag 'user[email]', nil,{:class => "input-medium", placeholder: "e-mail", :autofocus => true}
							= text_field_tag 'user[username]', nil,{:class => "input-medium", placeholder: "Логин", :autofocus => true}

				%tr
					%td{colspan: 2}
						%center
							= label_tag :password, "Пароль"
				%tr
					%td{colspan: 2}
						%center
							= password_field_tag 'user[password]', nil,{:class => "input-medium", placeholder: "Пароль"}
				- if devise_mapping.rememberable?
					%tr
						%td
							= check_box_tag :remember_me
						%td
							= label_tag :remember_me, 'Запомнить меня'
				%tr
					%td{colspan: 2}
						%center
							= submit_tag "Войти", class: "btn btn-primary"
				%tr
					%td{colspan: 2}
						%h6
							%center#form-errors
								/ = render "links"
								-#:javascript
								-#	$(document).ready(function(){
								-#		$.validator.addMethod(
								-#			'regexp',
								-#			function(value, element, regexp) {
								-#				var re = new RegExp(regexp);
								-#				return this.optional(element) || re.test(value);
								-#			},
								-#			"Please check your input."
								-#		);
								-#	});
								-#	$(document).ready(function(){
								-#		$("#login_form").validate({
								-#			lang: 'ru',
								-#			rules: {
								-#				'user[username]': {
								-#					minlength: 5,
								-#					required: true,
								-#					regexp: '^[a-zA-Z0-9]+$'
								-#				},
								-#				'user[password]': {
								-#					required: true
								-#				}
								-#			},
								-#			messages: {
								-#				'user[username]':{
								-#					regexp: 'Логин может состоять только из латинских букв и цифр.'
								-#				},
								-#				'user[password]': {
								-#					required: "Введите пароль."
								-#				}
								-#			},
								-#			highlight: function(element) {
								-#				$(element).closest('.control-group').removeClass('success').addClass('error');
								-#			},
								-#			success: function(element) {
								-#				element
								-#				.text('OK!').addClass('valid')
								-#				.closest('.control-group').removeClass('error').addClass('success');
								-#			}
								-#		});
								-#	}); // end document.ready

/ %h2 Log in
/ = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
/   %div
/     = f.label :email
/     %br
/     = f.email_field :email, autofocus: true
/   %div
/     = f.label :password
/     %br
/     = f.password_field :password, autocomplete: "off"
/   - if devise_mapping.rememberable?
/     %div
/       = f.check_box :remember_me
/       = f.label :remember_me
/   %div= f.submit "Log in", class: "btn"
/ = render "devise/shared/links"