/*

=======   =  =  =======   =======   =======   =     =   =====   =   =

=======     =   =======   =         =======   = =   =   =    =    =

=======    =    =======   =======   =     =   =     =   =====   =

*/


//Scss style

//Colors


//Fonts


//Images


//Backgrounds


//Other
@mixin cut{
  margin-top:9px;
  border: dashed #e0e0e0 1px;
}

//---
//Styles

//Bootstrap hacks/fixes
.input-group-addon.primary {
  color: rgb(255, 255, 255);
  background-color: rgb(50, 118, 177);
  border-color: rgb(40, 94, 142);
}
.input-group-addon.success {
  color: rgb(255, 255, 255);
  background-color: rgb(92, 184, 92);
  border-color: rgb(76, 174, 76);
}
.input-group-addon.info {
  color: rgb(255, 255, 255);
  background-color: rgb(57, 179, 215);
  border-color: rgb(38, 154, 188);
}
.input-group-addon.warning {
  color: rgb(255, 255, 255);
  background-color: rgb(240, 173, 78);
  border-color: rgb(238, 162, 54);
}
.input-group-addon.danger {
  color: rgb(255, 255, 255);
  background-color: rgb(217, 83, 79);
  border-color: rgb(212, 63, 58);
}
//---

#cut{
  width: 100%;
  margin: 5px 0;
  #cutline{
    @include cut;
  }
}

.table{
  tr,td{
    .no-border{
      border-color: transparent;
    }
  }
}

#full_article{
  .hidden{
    display:none;
  }
}

.guide{

}

#quantileLegend{
  min-width:320px;
  min-height:30px;
}