//Scss style

//Colors
$thumb_bg_color: #212121;
$thumb_text_color: #ffffff;

$thumb_hover_bg_color: #000;
$thumb_hover_text_color:white;

$thumb_icon_color:white;
$thumb_text_color:white;
$thumb_bg_color:black;

//---
//Styles
.video-list-thumbs{}
.video-list-thumbs > li{
  margin-bottom:12px
}
.video-list-thumbs > li:last-child{}
.video-list-thumbs > li > a{
  display:block;
  position:relative;
  background-color: $thumb_bg_color;
  color: $thumb_text_color;
  padding: 8px;
  border-radius:3px
}
.video-list-thumbs > li > a:hover{
  background-color:$thumb_hover_bg_color;
  transition:all 500ms ease;
  box-shadow:0 2px 4px rgba(0,0,0,.3);
  text-decoration:none
}
.video-list-thumbs h2{
  bottom: 0;
  font-size: 14px;
  height: 33px;
  margin: 8px 0 0;
}
.video-list-thumbs .glyphicon-play-circle{
  font-size: 60px;
  opacity: 0.6;
  position: absolute;
  right: 43%;
  top: 31%;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
.video-list-thumbs > li > a:hover .glyphicon-play-circle{
  color:$thumb_icon_color;
  opacity:1;
  text-shadow:0 1px 3px rgba(0,0,0,.8);
  transition:all 500ms ease;
}
.video-list-thumbs .duration{
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  color: $thumb_text_color;
  font-size: 11px;
  font-weight: bold;
  left: 12px;
  line-height: 13px;
  padding: 2px 3px 1px;
  position: absolute;
  top: 12px;
}
.video-list-thumbs > li > a:hover .duration{
  background-color:$thumb_bg_color;
  transition:all 500ms ease;
}
@media (min-width:320px) and (max-width: 480px) {
  .video-list-thumbs .glyphicon-play-circle {
    font-size: 35px;
    right: 36%;
    top: 27%;
  }
  .video-list-thumbs h2 {
    bottom: 0;
    font-size: 12px;
    height: 22px;
    margin: 8px 0 0;
  }
}