!!! 5
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
	%body
		%h1
			#{@contactform.name}, спасибо за то, что связались с нами.
		%p
			Текст вашего сообщения:
			%span
				= @contactform.text
		%br
		%p
			Причина обращения:
			%span
				= @contactform.subject
		%br
		%p
			О всех неисправностях сообщайте на почту -
			%strong
				= @supmail