\===================================================
#{@contactform.name}, спасибо за то, что связались с нами.
\===================================================

* Текст вашего сообщения:
= @contactform.text

* Причина обращения:
= @contactform.subject

\---------------------------------------------------
О всех неисправностях сообщайте на почту -
= @supmail