!!!
%html{:lang => "ru"}
	%head
		%meta{:charset => "utf-8"}
		%meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
		%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
		%meta{:content => "", :name => "description"}/
		%meta{:content => "", :name => "author"}/
		%title= content_for?(:title) ? yield(:title) : "Mednet"

		= csrf_meta_tags
		/ Le HTML5 shim, for IE6-8 support of HTML elements
		/[if lt IE 9]
			= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"

		= stylesheet_link_tag "application", :media => "all"
		= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'

		= javascript_include_tag "application"

		-#= javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js'


		%body
			= render 'shared/topbar'

			.col-lg-12{style: "margin-top: 1%;"}
				= bootstrap_flash
				= yield

