!!!
%html.no-js{:lang => "ru"}
	%head
		%meta{:charset => "utf-8"}/
		%meta{:content => "company,services,responsive,subscribe,business,marketing,corporate,ipad,iphone,site template", :name => "keywords"}/
		%title Mednet
		%meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/

		%link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700", :rel => "stylesheet", :type => "text/css"}/

		= csrf_meta_tags

		= stylesheet_link_tag "application", :media => "all"
		= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon'

		= javascript_include_tag "application"

	%body

		= render "shared/topbar"

		.span12
			.container
				%center
					= bootstrap_flash
		.row
			= yield
		= render "shared/ulala" if request.path == root_path
		= render "shared/footer"